# =====================
# Segredos
# =====================
.env
.env.*

# =====================
# Build / dependências
# =====================
dist/
node_modules/
coverage/

# =====================
# Uploads
# =====================
uploads/

# =====================
# Testes
# =====================
**/*.spec.ts
**/*.test.ts
jest.config.*
jest.setup.*
test/

# =====================
# TypeScript / configs dev
# =====================
*.tsbuildinfo
tsconfig.build.json
tsconfig.json
nest-cli.json
.eslintrc*
.prettierrc*

# =====================
# Logs
# =====================
*.log

# =====================
# Source maps
# =====================
dist/**/*.map
